Neste arquivo, será utilizado o dataset Íris, amplamente conhecido e disponível em 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'. Serão utilizadas as bibliotecas Numpy e Pandas para prática

Use o pandas para ler o arquivo como um dataframe, sem importar o nome das colunas:

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)

In [9]:
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

Sabendo que as cinco colunas correspondem, nessa ordem, a: 
   * 1. sepal length (cm)
   * 2. sepal width (cm)
   * 3. petal length (cm)
   * 4. petal width (cm)
   * 5. class: <br>
        - Iris Setosa <br>
        - Iris Versicolor <br>
        - Iris Virginica <br>

Leia novamente o arquivo passando o nome das colunas como argumento.

In [3]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', 
               names=['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Class'], header=0)

In [4]:
df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width           Class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

Crie uma coluna para o volume sabendo que ele é calculado por (pi x petallength x sepal_length^2)/3

In [5]:
df['vol']=((np.pi)*(df.iloc[:,2])*(df.iloc[:,0]**2))/3

In [6]:
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Class,vol
0,4.9,3.0,1.4,0.2,Iris-setosa,35.200498
1,4.7,3.2,1.3,0.2,Iris-setosa,30.072372
2,4.6,3.1,1.5,0.2,Iris-setosa,33.238050
3,5.0,3.6,1.4,0.2,Iris-setosa,36.651914
4,5.4,3.9,1.7,0.4,Iris-setosa,51.911677
...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,244.445230
145,6.3,2.5,5.0,1.9,Iris-virginica,207.816354
146,6.5,3.0,5.2,2.0,Iris-virginica,230.069302
147,6.2,3.4,5.4,2.3,Iris-virginica,217.373079
148,5.9,3.0,5.1,1.8,Iris-virginica,185.910028

Calcule a média de cada atributo das flores.

In [16]:
med=pd.DataFrame([np.mean(df.iloc[:,0]),np.mean(df.iloc[:,1]),np.mean(df.iloc[:,2]),np.mean(df.iloc[:,3]),np.mean(df.iloc[:,5])],
                 index=['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','vol'],columns=['Total_Mean'])

In [17]:
med

              Total_Mean
Sepal_Length    5.848322
Sepal_Width     3.051007
Petal_Length    3.774497
Petal_Width     1.205369
vol           153.478981

Novamente, calcule a média de cada atributo das flores só que agora faça-o separadamente para cada um dos tipos de íris indicados na coluna "class".

In [50]:
df2=df.set_index('Class').copy()
setosa=[np.mean(df2.loc['Iris-setosa','Sepal_Length']),
        np.mean(df2.loc['Iris-setosa','Sepal_Width']),
        np.mean(df2.loc['Iris-setosa','Petal_Length']),
        np.mean(df2.loc['Iris-setosa','Petal_Width']),
        np.mean(df2.loc['Iris-setosa','vol'])]
versicolor=[np.mean(df2.loc['Iris-versicolor','Sepal_Length']),
            np.mean(df2.loc['Iris-versicolor','Sepal_Width']),
            np.mean(df2.loc['Iris-versicolor','Petal_Length']),
            np.mean(df2.loc['Iris-versicolor','Petal_Width']),
            np.mean(df2.loc['Iris-versicolor','vol'])]
virginica=[np.mean(df2.loc['Iris-virginica','Sepal_Length']),
           np.mean(df2.loc['Iris-virginica','Sepal_Width']),
           np.mean(df2.loc['Iris-virginica','Petal_Length']),
           np.mean(df2.loc['Iris-virginica','Petal_Width']),
           np.mean(df2.loc['Iris-virginica','vol'])]
data={'Iris-setosa_Mean':setosa,'Iris-versicolor_Mean':versicolor,'Iris-virginica_Mean':virginica}
med2=pd.DataFrame(data,
                 index=['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','vol'],
                 columns=['Iris-setosa_Mean','Iris-versicolor_Mean','Iris-virginica_Mean'])

In [51]:
med2

              Iris-setosa_Mean  Iris-versicolor_Mean  Iris-virginica_Mean
Sepal_Length          5.004082              5.936000             6.588000
Sepal_Width           3.416327              2.770000             2.974000
Petal_Length          1.465306              4.260000             5.552000
Petal_Width           0.244898              1.326000             2.026000
vol                  38.775225            160.560036           258.807607

Adicione uma nova coluna com o valor da média de 'sepal length' apenas para a íris da classe Iris-setosa.

In [62]:
df['Sepal_Length_Mean']=None
for i in range (len(df)):
    if df.iloc[i,4]=='Iris-setosa':
        df.iloc[i,6]=med2.iloc[0,0]

In [63]:
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Class,vol,Sepal_Length_Mean
0,4.9,3.0,1.4,0.2,Iris-setosa,35.200498,5.004082
1,4.7,3.2,1.3,0.2,Iris-setosa,30.072372,5.004082
2,4.6,3.1,1.5,0.2,Iris-setosa,33.238050,5.004082
3,5.0,3.6,1.4,0.2,Iris-setosa,36.651914,5.004082
4,5.4,3.9,1.7,0.4,Iris-setosa,51.911677,5.004082
...,...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,244.445230,None
145,6.3,2.5,5.0,1.9,Iris-virginica,207.816354,None
146,6.5,3.0,5.2,2.0,Iris-virginica,230.069302,None
147,6.2,3.4,5.4,2.3,Iris-virginica,217.373079,None
148,5.9,3.0,5.1,1.8,Iris-virginica,185.910028,None

Adicione uma coluna com a média de 'sepal length' de tal forma que cada tipo de íris tenha seu respectivo valor de média.

In [64]:
df['Sepal_Length_Mean']=None
for i in range (len(df)):
    if df.iloc[i,4]=='Iris-setosa':
        df.iloc[i,6]=med2.iloc[0,0]
    elif df.iloc[i,4]=='Iris-versicolor':
        df.iloc[i,6]=med2.iloc[0,1]
    elif df.iloc[i,4]=='Iris-virginica':
        df.iloc[i,6]=med2.iloc[0,2]

In [65]:
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Class,vol,Sepal_Length_Mean
0,4.9,3.0,1.4,0.2,Iris-setosa,35.200498,5.004082
1,4.7,3.2,1.3,0.2,Iris-setosa,30.072372,5.004082
2,4.6,3.1,1.5,0.2,Iris-setosa,33.238050,5.004082
3,5.0,3.6,1.4,0.2,Iris-setosa,36.651914,5.004082
4,5.4,3.9,1.7,0.4,Iris-setosa,51.911677,5.004082
...,...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,244.445230,6.588
145,6.3,2.5,5.0,1.9,Iris-virginica,207.816354,6.588
146,6.5,3.0,5.2,2.0,Iris-virginica,230.069302,6.588
147,6.2,3.4,5.4,2.3,Iris-virginica,217.373079,6.588
148,5.9,3.0,5.1,1.8,Iris-virginica,185.910028,6.588